<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.1.0/js/md5.js"></script>

<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyABBwtLWKKEbNuzNizGlhCv3DLQVBe3sGc",
    authDomain: "commenting-system-33924.firebaseapp.com",
    databaseURL: "https://commenting-system-33924.firebaseio.com",
    storageBucket: "commenting-system-33924.appspot.com",
    messagingSenderId: "424463360726"
  };
  firebase.initializeApp(config);
</script>

<script src="assets/js/blog.js"></script>